<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My blog</a></h1>
        </div>

        <div>
            <p><strong>Опубликовано: 05.04.2019, 14:39</strong></p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Что-нибудь полезное</p>
        </div>

        <div>
            <p><strong>Опубликовано: 05.04.2019, 14:39</strong></p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Ещё полезной информации</p>
        </div>
    </body>
</html>
